.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
    display: grid;
}
/* Errors Fix */
form ul {
    padding: 0;
}

form li {
    color: black;
    list-style-type: none;
    background: red;
    width: 25%;
    text-align: center;
    padding: 10px;
}