{% extends 'base.html.twig' %}

{% block title %}Представься{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Введите имя пользователя, далее выберите соответсвующий цвет</h1>

    {{ form_start(usernameForm) }}
    {{ form_row(usernameForm.username, { label: 'Введите имя пользователя', attr: { placeholder: 'Имя', style:'display:block;' }}) }}
    <br>
    <button type="submit" class="btn btn-success">Начать тест</button>
    {{ form_end(usernameForm) }}

    <br><hr>
    <a href="{{ path('all') }}">Посмотреть ответы всех пользователей</a>
</div>
{% endblock %}