{% extends 'base.html.twig' %}

{% block title %}Вопрос2{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Выберите цвета который видите на экране</h1>
        <br>
        <div style="display: flex">
            <div style="width: 150px; height: 150px; background: green;"></div>
            <div style="width: 150px; height: 150px; background: yellow;"></div>
        </div>


        {{ form_start(q2Form) }}
        {{ form_row(q2Form.question2, { label: 'Выбери цвета', attr: { style: 'display:grid;'}}) }}
        <br>
        <button type="submit" class="btn btn-success">Далее</button>
        {{ form_end(q2Form) }}
    </div>
{% endblock %}
