{% extends 'base.html.twig' %}

{% block title %}Вопрос3{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Выберите цвет который видите на экране</h1>
        <br>
        <div style="width: 150px; height: 150px; background: blue;"></div>

        {{ form_start(q3Form) }}
        {{ form_row(q3Form.question3, { label: 'Введите цвет', attr: { placeholder: 'Цвет', style: 'display: grid;' }}) }}
        <br>
        <button type="submit" class="btn btn-success">Далее</button>
        {{ form_end(q3Form) }}
    </div>
{% endblock %}